<h1>Books</h1>
<form action="<%= books_path %>" method="get" class="form-inline">
    <input class="form-control" type="text" name="s_title" value="<%= request[:s_title] %>">
    <!-- Include "全て" in select options -->
    <%= select_tag(
        :s_category, 
        options_from_collection_for_select([Category.new({id:"",name: "全て"})], :id, :name, request[:s_category]) + options_from_collection_for_select(Category.all, :id, :name, request[:s_category]) , 
        {class: "form-control"}
    )
    %>
        <button class="btn btn-default" type="submit">検索</button>
</form>
<%= render 'table', books: @books %>
    <%= paginate @books %>
        <%= link_to 'New Book', new_book_path, :class => 'btn btn-primary' %>